#Português - Exemplo de Servidor
PORT=3000

#Português - Conexão com o Banco de Dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=amper_hub_db

#Português - Autenticação JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui
JWT_EXPIRES_IN=8h
